@font-face {
  font-family: 'AvenirLTStd';
  font-weight: 300;
  src: local('Avenir'), local('AvenirLTStd'), local('Avenir Next'), url('/fonts/AvenirLTStd-Light.woff')
}
@font-face {
  font-family: 'AvenirLTStd';
  font-weight: 400;
  src: local('Avenir'), local('AvenirLTStd'), local('Avenir Next'), url('/fonts/AvenirLTStd-Book.woff');
}
@font-face {
  font-family: 'AvenirLTStd';
  font-weight: 500;
  src: local('Avenir'), local('AvenirLTStd'), local('Avenir Next'), url('/fonts/AvenirLTStd-Medium.woff');;
}
@font-face {
  font-family: 'AvenirLTStd';
  font-weight: 900;
  src: local('Avenir'), local('AvenirLTStd'), local('Avenir Next'), url('/fonts/AvenirLTStd-Black.woff');
}

body.theme-light, body:not([class]) {
  --accent-color-opacity: #4A54C733;
  --accent-color: #4A54C7;
  --accent-color-light: #636CCF;
  --background-color: #fff;
  --text-color: #000;
  --grey-3-color: darkslategrey;
  --grey-2-color: lightgrey;
  --grey-1-color: darkgrey;
  --grey-4-color: #f7f7f7;
}

body.theme-dark {
  --accent-color-opacity: #ff000033;
  --accent-color: #4A54C7;
  --accent-color-light: #636CCF;
  --background-color: #191919;
  --text-color: #fff;
  --grey-3-color: darkslategrey;
  --grey-2-color: #2c2c2c;
  --grey-1-color: darkgrey;
  --grey-4-color: #080808;
}

.container {
  width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.login-box, .register-box {
  width: 398px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  padding-bottom: 10px;
  /* box-shadow: 0 0 201px #020202; */
  border: 1px solid var(--grey-2-color);
  border-radius: 8px;
}

.login-box {
  margin-top: 140px;
}

.register-box {
  margin-top: 90px
}

.spoiler-message {
  font-size: 14px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 400px;
    padding: 0px;
  }

  .login-box, .register-box {
    margin-top: 80px;
    border: none;
    width: 380px;
    padding: 10px;
  }
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.login_welcome, .register_welcome {
  text-align: center;
  color: var(--grey-3-color);
  font-size: 23px;
  margin: 10px 0;
}

.theme-chooser {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0px;
  right: 0px;
}

body.theme-light .theme-chooser .svg-theme {
  margin: 4px;
  color: slateblue;
}

body.theme-dark .theme-chooser .svg-theme {
  margin: 4px;
  color: yellow;
}

body.theme-light .theme-chooser .enable-light-theme-a {
  display: none;
}

body.theme-dark .theme-chooser .enable-dark-theme-a {
  display: none;
}

.login-info-box, .register-info-box {
  font-size: 14px;
  margin: 0px 20px;
  padding-left: 10px;
  border-left: 4px solid #a36ad8;
}

.login-info-box.hidden, .register-info-box.hidden, .index.main.hidden {
  display: none;
}

.login-info-box .service-name, .register-info-box .service-name {
  font-size: 14px;
  color: #a36ad8;
  white-space: pre-wrap;
}

.login-info-box .service-account_type, .register-info-box .service-account_type {
  background-color: #f8f8f8;
  font-size: 12px;
  border-radius: 2px;
  color: #a36ad8;
  padding: 3px 5px;
  margin: 0 2px;
  white-space: pre-wrap;
  font-family: Roboto Mono,Monaco,courier,monospace;
}

.login-continue-as-container {
  padding: 0px 20px;
}

.login-continue-as-flex-wrapper.hidden {
  display: none;
}

.login-continue-as-box {
  width: 100%;
  height: 68px;
  border: 1px solid var(--grey-2-color);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.login-continue-as-box:hover {
  background-color: var(--grey-4-color);
}

.login-continue-as-box:focus {
  background-color: var(--grey-4-color);
}

.login-continue-as-profile-picture-container {
  width: 56px;
  height: 56px;
  margin: 6px;
}

.login-continue-as-profile-picture-container .profile-picture {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  color: #fff;
  text-align: center;
  line-height: 56px;
  font-size: 32px;
  text-transform: uppercase;
}

.login-continue-as-user-container {
  display: flex;
  flex-direction: column;
}

.login-continue-as-user-logout {
  text-align: right;
  height: 12px;
  margin-top: -2px;
  margin-right: 4px;
}

.login-continue-as-user-logout a {
  font-weight: 500;
  font-size: 12px;
  color: var(--accent-color-light);
  text-decoration: none;
}

.login-continue-as-user-logout a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.login-continue-as-user-container {
  display: inline-block;
  width: calc(100% - 60px - 16px);
  margin-left: 16px;
  height: 100%;
}

.login-continue-as-fullname {
  font-size: 18px;
}

.login-continue-as-username {
  font-size: 14px;
  font-weight: 600;
}

.login-or-divider-container {
  width: 100%;
  text-align: center;
  margin-top: 12px;
}

.login-or-divider-container.hidden {
  display: none;
}

.login-or-divider-container .line {
  margin: 0px 8px 4px 8px;
  width: calc(50% - 56px);
  height: 2px;
  display: inline-block;
  background-color: var(--grey-2-color);
}

.login-or-divider {
  width: 24px;
  margin: 0px 8px;
  display: inline-block;
  color: var(--grey-3-color);
}

.login-header-container {
  text-align: center;
  margin-bottom: 8px;
}

.login-header {
  font-size: 14px;
  font-weight: 500;
}

.login-header-container.hidden {
  display: none;
}

.login-incorrect-credentials, .register-incorrect-repeat {
  color: red;
  font-size: 14px;
  margin: 4px 6px;
}

.login-incorrect-credentials.hidden, .register-incorrect-repeat.hidden {
  display: none;
}

.login-container, .register-container {
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
}

.login-box .btn, .register-box .btn {
  width: 100%;
  font-weight: 700;
  background-color: #a36ad8!important;
  box-shadow: inset 0 -3px 0 0 #8650b9;
}

.user-profile-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 8px 0px 16px;
  width: min-content;
  max-width: 100%;
}

.user-profile-group-vertical {
  height: 100px;
  width: 200px;
}

.user-profile-group-horizontal {
  display: flex;
  width: 400px;
  height: 50px;
}

.user-profile-field-block {
  height: 50px;
}

.user-profile-field-block.hidden {
  display: none!important;
}

.user-profile-group-horizontal .user-profile-field-block {
  width: 200px;
  display: inline-block;
}

.user-profile-label {
  font-weight: 600;
  font-size: 12px;
  color: var(--grey-1-color);
}

.user-profile-input {
  padding: 2px 8px!important;
  width: calc(100% - 24px)!important;
}

.user-profile-field {
  padding: 3px 8px 3px 0px;
  height: 22px;
  line-height: 1.5;
  color: var(--text-color);
}

.user-profile-btn-wrapper {
  width: 100%;
}

.user-profile-btn-wrapper .btn {
  margin: 10px 2px;
}

.user-profile-btn-wrapper .btn.hidden {
  display: none!important;
}

.user-profile-field#user-profile-username {
  font-weight: bold;
}

.heading-sub {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--grey-1-color);
}

.info-text {
  font-size: 12px;
  color: var(--grey-3-color);
  margin-bottom: 8px;
}

.spoiler-hide {
  display: none!important;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.subtext {
  color: var(--grey-3-color);
  font-size: 14px;
}

.login-box p, .register-box p {
  margin-bottom: 0;
}

.login-sublink, .register-sublink {
  color: var(--accent-color-light);
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir","AvenirLTStd";
  color: var(--text-color);
  background-color: var(--background-color);
}

@media print {
  body {
    overflow: auto;
    height: 100%;
  }
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  height: 58px;
}

.form-group label {
  font-size: 14px;
}

.form-group-2 {
  width: calc(50% - 8px);
  min-width: 156px;
  height: 58px;
  position: relative;
  float: left;
}

.form-group-3 {
  width: calc((100% / 3) - (8px * 2));
  min-width: 156px;
  height: 58px;
  position: relative;
  float: left
}

.form-group-2:nth-child(1), .form-group-3:nth-child(1) {
  margin-right: 8px;
}

.form-group-2:nth-child(2), .form-group-3:nth-child(3) {
  margin-left: 8px;
}

.text-input.input-big {
  display: block;
  width: calc(100% - 17px);
  height: 32px;
  padding: 1px 8px 1px 4px;
  font-size: 1rem;
  line-height: 24px;
  border: 1px solid var(--grey-2-color);
  background-color: var(--background-color);
  color: var(--text-color);
  outline: none;
  overflow: visible;
  margin: 0;
  border-radius: 4px;
}

.text-input.input-big:focus {
  border-color: var(--accent-color);
}

.text-input.input-small {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 22px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: none;
  border: 1px solid var(--grey-2-color);
  border-radius: 4px;
  transition: all .3s;
}

.text-input-group.input-small-group {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.text-input-group.input-small-group .text-input.input-small {
  border-radius: 0;
}

.text-input-group.input-small-group .text-input.input-small:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.text-input-group.input-small-group .text-input.input-small:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.text-input-group.input-small-group .btn.btn-normal {
  margin-top: 0px;
  height: 32px;
  border-radius: 0px 4px 4px 0;
  margin-bottom: 0px;
}

.text-input.input-small:focus {
  border-color: var(--accent-color);
  outline: 0;
  box-shadow: 0 0 0 2px var(--accent-color-opacity);
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: center;
  user-select: none;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none;
  color: #fff;
  background-color: var(--grey-3-color)!important;
  box-shadow: inset 0 -3px 0 0 var(--grey-1-color);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn.btn-normal {
  padding: 8px 14px;
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 12px;
  line-height: unset;
  box-shadow: unset;
  border: 1px solid var(--grey-3-color);
}

.btn.btn-normal:focus {
  border-color: var(--accent-color);
  outline: 0;
  box-shadow: 0 0 0 2px var(--accent-color-opacity);
}

.btn.btn-big {
  padding: 15px 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.btn.btn-red {
  color: #fff;
  background-color: #d22e2d!important;
  border-color: #d22e2d;
}

.btn.btn-big.btn-red {
  box-shadow: inset 0 -3px 0 0 #910202;
}

.btn.btn-purple {
  color: #fff;
  background-color: #a36ad8!important;
  border-color: #a36ad8;
}
.btn.btn-big.btn-purple {
  box-shadow: inset 0 -3px 0 0 #8650b9;
}